<!doctype html>
<html lang="en">
{% include head.html %}
<body id="home">
  {% include header.html %}
  <div class="container">
    <main>
      <div class="hero">
        {{ content }}
      </div>
      <h2>Historical Maps</h2>
      <ul class="home-content">
        {% assign items = site.maps | sort: 'year' %}
        {% for map in items %}
        <h3>{{ map.title }}</h3>
        <div class="row">
          <div class="col-md-6">
            <a href="{{ map.url }}"><img src="img/thumb/{{ map.filename }}" /></a>
          </div>
          <div class="col-md-6">
            {{ map.content }}
          </div>
        </div>
        {% endfor %}
      </ul>
    </main>
  </div>
{% include footer.html %}
</body>
</html>
